@mixin game-props() {
  $props: grass flowers;

  @for $i from 1 through length($props) {
    $prop: nth($props, $i);
    $offset: ($i - 1) * 16px * -1;
    &.#{$prop} {
      background-image: url("/assets/images/map-atlas.png");
      background-repeat: no-repeat;
      background-position: $offset 0;
    }
  }
}
